{% extends "GWHK/base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-8 info-p">
        <h2><strong>集團簡介</strong></h2>
        <p>金道集團（金道投資控股有限公司）於2009年在香港註冊成立。集團背靠大陸、立足香港、面向全球，致力於為機構客戶、企業客戶及個人投資者提供全面優質的金融服務。</p>
        <p>成立以來，金道集團秉持公平、誠信、透明、創新的價值觀，務實求進、勤懇耕耘，迄今已發展成一家業務體系完備的金融服務企業。金道旗下現有貴金屬、外匯、證券期貨及資產管理四大品牌支柱業務，網絡遍及大中華地區、亞太地區及英國，並持有齊全的相關業務牌照。金道客戶可以通過電話、網絡及智能手機客戶端等多種方式享受24小時交易服務。</p>
        <p>金道集團能在短期內迅速擴大，既有賴客戶的信任，也得益於對人才的重視。集團由金融從業經驗豐富的管理層掌舵，四大業務部門負責市場開拓及品牌運營，有一隻強大的IT隊伍專注網絡平臺搭建和軟件、產品開發，並得到策略、合規、財務、行政等多個後臺部門的協同合作及全力支持。</p>
        <p>在當前中國金融改革的背景下，金道集團希望以國際化的視野、前瞻性的理念和高效率的組織，繼續為客戶提供優質的多元化投資服務，最終將金道打造成集多種金融業務為一體的綜合金融服務集團。</p>        
    </div>
    <div class="col-sm-4">
        <img class="info-image" src="https://www.gwghk.com/tw/images/sub_1-1_2.jpg" alt="gw_logo">
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-8 info-p">
        <h2><strong>金道投資</strong></h2>
        <p>金道投資（香港）有限公司（<a href="http://www.gwtrade.hk">www.gwtrade.hk</a>）持有香港證監會第1、第2及第3類受規管活動牌照（中央編號：<a href="{% static 'images/certSFC2012.jpg' %}">AUE994</a>），提供證券、期貨和杠杆式外匯交易服務。</p>
    </div>
    <div class="col-sm-4">
        <img class="info-image" src="https://www.gwghk.com/tw/images/sub_1-1_9.jpg" alt="gw_logo">
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-8 info-p">
        <h2><strong>金道環球投資(英國)</strong></h2>
        <p>金道環球投資（英國）有限公司（英國金融市場行爲監管局FCA註冊牌照號：<a href="https://register.fca.org.uk/ShPo_FirmDetailsPage?id=001b000000MfHbIAAV">185223</a>) 為客戶提供外匯及差價合約（CFD）杠杆式投資服務。</p>
    </div>
    <div class="col-sm-4">
        <img class="info-image" src="https://www.gwghk.com/tw/images/sub_1-1_7.jpg" alt="gw_logo">
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-8 info-p">
        <h2><strong>資產管理</strong></h2>
        <p>金道資產管理有限公司（牌照號：AUS318）持有香港證監會第4、第9類牌照，為客戶提供證券投資意見，並可配合客戶的風險承受能力及回報需求，量身定做投資組合。</p>        
    </div>
    <div class="col-sm-4">
        <img class="info-image" src="https://www.gwghk.com/tw/images/sub_1-1_14.jpg" alt="gw_logo">
        <br>
    </div>
</div>

<div class="row">
    <div class="col-md-8 info-p">
        <h2><strong>貴金屬投資</strong></h2>
        <p>金道貴金屬有限公司（<a href="http://pm.gwghk.com">pm.gwghk.com</a>）是香港金銀業貿易場的認可電子交易行員（行員編號74號）及標準金集團成員，持有AA類別市場交易有效營業牌照，同時也是少數擁有特許鑄金權的金商。</p>        
    </div>
    <div class="col-sm-4">
        <img class="info-image" src="https://www.gwghk.com/tw/images/sub_1-1_6.jpg" alt="gw_logo">
    </div>
</div>

{% endblock %}