{% extends 'GWHK/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-8 info-p">
        <h2>證券投資</h2>
        <p>金道投資(香港)有限公司<a href="http://www.gwtrade.hk">(www.gwtrade.hk)</a>持有香港證監會第1、第2及第3類受規管活動牌照<span id="sfa_license">(證監牌照CE編號: AUE994)</span>，可提供證券、期貨、期權及槓桿式外匯交易買賣服務。受香港之法律及條例所監管下，金道投資推出多項領先市場的嶄新服務，為業界帶來新標準。</p>
    </div>
    <div class="col-sm-4">
        <img src="{% static 'images/GW_Trade_logo.png' %}" class="info-image" alt="">
    </div>
</div>

<ol>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td class="t-a">獲獎品牌</td>
                <td>獲騰訊頒發「2011年度最受歡迎港股劵商」及「2011年度最受歡迎網上交易港股劵商」</td>
            </tr>
            <tr>
                <td class="t-a">速贏新股</td>
                <td>eIPO一買一賣僅收HK$50，更易跑贏新股差價</td>
            </tr>
            <tr>
                <td class="t-a">多重保障</td>
                <td>所有資金及存貨均受香港結算監控及由銀行信託帳戶獨立運作，配合15萬投資者賠償基金，投資得到更佳保障</td>
            </tr>
            <tr>
                <td class="t-a">一按下單</td>
                <td>交易平台配備港股專用大市版面</td>
            </tr>
            <tr>
                <td class="t-a">多元提存</td>
                <td>資金提存款方法多樣化，特設中國工商銀行財智帳戶特快入金服務</td>
            </tr>
            <tr>
                <td class="t-a">全面支援</td>
                <td>除了網上客服及客戶服務熱線外，更另設免費國內專線，無論客戶身處何地，客服專員皆可即時解答客戶查詢，並為客戶進行電話交易</td>
            </tr>
        </tbody>
    </table>

</ol>


{% endblock %}