{% extends 'GWHK/base.html' %}
{% load static %}

{% block content %}
<h2>集團願景及理念</h2>
<div class="card">
    <h5 class="card-header">集團願景</h5>
    <div class="card-body">
        <img class="card-image round-image" src="https://www.gwghk.com/tw/images/jh_07.png" alt="">
        <p class="card-text">金道集團致力於通過建立完備的業務體系、一流的交易平臺、高效的管理結構和堅實的客戶基礎，成為核心競爭力突出、品牌知名度高的綜合性國際化金融服務集團。金道人將戮力同心、矢志不渝，以期達成目標。</p>
    </div>
    </div>
    <div class="card">
    <h5 class="card-header">集團使命</h5>
    <div class="card-body">
        <img class="card-image round-image" src="https://www.gwghk.com/tw/images/jh01.png" alt="">
        <h5 class="card-title">金道集團致力於為環球客戶提供優質的金融服務，推動行業發展，助力金融改革。</h5>
        <ul>
            <li class="card-text">為客戶：提供多元化投資管道，滿足其全球資產配置需求，提升理財便利度及專業度；</li>
            <li class="card-text">為市場：高度自律，嚴守法規，幫助形成互聯網金融行業誠信透明的良好形象，推動其
                長期健康的發展；</li>
            <li class="card-text">為經濟：在產品開發及金融創新方面做探路者，優化資源配置效率，服務實體經濟，推
                動中國的金融改革。</li>
        </ul>
    </div>
    </div>
    <div class="card">
    <h5 class="card-header">價值觀</h5>
    <div class="card-body">
        <img class="card-image round-image" src="https://www.gwghk.com/tw/images/jh02.png" alt="">
        <ul>
            <li class="card-text">公平：嚴格遵守監管條例，加強內部審計，致力於提供客戶信賴的公平的交易方式</li>
            <li class="card-text">透明：尊重客戶知情權，提高與客戶之間的互信度，及時、充分、準確地披露資訊及
                數據。</li>
            <li class="card-text">誠信：遵守最嚴格的職業道德，忠於客戶所托，將客戶利益放在第一位</li>
            <li class="card-text">創新：不斷在產品、服務、商業模式、內部管理方面進行創新，為客戶帶來最好的
                投資體驗和最高的投資效率。</li>
        </ul>
    </div>
    </div>
    <div class="card">
    <h5 class="card-header">公司文化</h5>
    <div class="card-body">
        <img class="card-image round-image" src="https://www.gwghk.com/tw/images/jh03.png" alt="">
        <h5 class="card-title">金道集團崇尚人文關懷和社會責任感。</h5>
        <ul>
            <li class="card-text">以人為本：尊重員工的個性及愛好特長，提供多種職業培訓及一流的發展平臺，營造積
                極、和諧的工作環境，實現員工與企業的共同成長。</li>
            <li class="card-text">回饋社會：積極履行企業的社會責任，在公益事業中持續投入，達成企業與社會的和諧
                共處。</li>
        </ul>
    </div>
    </div>
    <br>

{% endblock %}